.list-item {
  min-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 10px 9px 15px 2px #888888;
  padding: 0.9rem;
  color: white;
}

.list-btns {
  display: flex;
  gap: 0.5rem;
}

.complete-btn {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid white;
  background: #f17d01;
  color: white;
  cursor: pointer;
}

.delete-btn {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid white;
  background: #f13901;
  color: white;
  cursor: pointer;
}
